    <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <table class="table">
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
        <th>follows</th>
        <th><%= link_to user.followings.count, followings_user_path(user) %></th>
      </tr>
      <tr>
        <th>followers</th>
        <th><%= link_to user.followers.count, followers_user_path(user) %></th>
      </tr>
    </table>

    <%= render 'relationships/follow_btn', user: user%>

    <div class="row">
      <% if user.id == current_user.id %>
        <%= link_to "", edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
      <% else %>
        <%= link_to "", user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
      <% end %>
    </div>